{% extends 'main.html' %}
{% load static %}


{% block content %}

  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-6 d-flex justify-content-center">
        <div style=" width: 400px; height: 300px;">
        <h1 style="margin-top: 140px; color: #008bc8; font-weight: 800;"> Shore Buddies </h1>
        <h5> Bring Sustainability into Play </h5>
      </div>
      </div>

      <div class="col-6 d-flex justify-content-center">
        <div style="background-color: white; width: 400px; height: 300px; box-shadow: 0 0 3px">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">

      </div>

      <div class="col-6 text-center">
        <p>Don't have an account?</p>
        <a href="{% url 'registerPage' %}">Register</a>

      </div>
    </div>
  </div>


    

{% endblock %}

